a {
  text-decoration: none;
  color: black;
}
a:hover {
  cursor: pointer;
}

#main-app {
  display: flex; 
  flex-flow: column wrap;
}

/* Nav Bar */

#nav {
  margin: 0 -1em;
  padding: 0 2em;
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#nav-options {
  display: flex;
  flex-flow: row wrap;
  font-size: 20px;
  align-items: center;
}
#nav-options > a {
  margin-right: 2em;
}
#app-logo {
  font-size: 30px;
}
#nav-options > a:hover {
  border-top: 3px solid green;
}
a#app-logo:hover {
  border: none;
}
#auth-options {
  display: flex;
  flex-flow: row wrap;
  font-size: 20px;
  align-items: center;
}
#auth-options > a:hover {
  border-top: 3px solid green;
}


/* Content */

#content {
  margin: 2em -1em;
}


/* Landing Page */
#landing-page {
  display: flex;
  position: relative;
}
#landing-page > img {
  width: 100%;
  height: 100%;
}
#right-blurb {
  text-align: center;
  align-self: center;
  position: absolute;
  left: 50px;
  border: 3px solid white;
  background-color: white;
  opacity: 0.9;
  height: 80%;
  width: 30%;
  min-width: 300px;
  font-size: 40px;
  padding: 50px;
  border-left: 6px solid antiquewhite;
  border-top: 6px solid antiquewhite;
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;
}
#signup-button {
  margin-top: 2em;
  width: 100%;
  height: 50px;
  font-size: 20px;
  border: none;
  color: aliceblue;
  background-color: #4499c3;
}
#signup-button:hover {
  background-color: #1e516b;
  cursor: pointer;
}




/* Videos Page */
#video-page {
  display: flex;
  flex-flow: row wrap;
}
@media all and (max-width: 500px) {
  #video-page {
    display: flex;
    flex-flow: column wrap;
  }
}

#current-video {
  flex-grow: 2;
  border: 1px solid black;
  display: flex;
  flex-flow: column wrap;
}

#videos-list {
  flex-grow: 1;
  border: 1px solid black;
}

#stream {
  max-width: 900px;
  min-width: 300px;
  height: 500px;
  border: 1px solid black;
}
#comments {
  height: 400px;
}


